* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

ul {
    list-style: none;
}  

a {
    text-decoration: none;
    display: inline-block;
}
.btn {
    background-color: var(--main-color);
    padding: 10px 40px;
    border-radius: 30px;
    border-top-right-radius: 0;
    color: white;
    font-weight: 500;
    transition: 0.5s;

    &:hover {
        border-top-right-radius: 30px;
    }
    @media (max-width: 767px) {
        padding: 5px 10px;
        font-size: 10px;
      }
}