.navbar {
  position: relative;
  width: 100%;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 98px;
    position: relative;
  }
  & i {
    color: white;
    position: relative;
    right: 10px;
    order: 1;
    font-size: 20px;

    @media (min-width: 768px) {
      display: none;
    }

    @media (max-width: 767px) {
      &:hover .navbar__navigation {
        display: block;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: var(--main-color);
      }
    }

  }

  &__logo {
    font-size: 30px;
    @media (max-width: 767px) {
      font-size: 20px;
    }
    text-decoration: none;
    display: inline-block;
    color: var(--main-color);
    font-weight: bold;
    & span {
      color: white;
    }
  }

  &__navigation {
    display: flex;
    @media (max-width: 767px) {
      display: none;
    }

    & li {
      margin: 30px 20px;
      display: flex;
      justify-content: end;
    }
    & a {
      padding: 10px 0;
      color: white;
      font-weight: 400;
      transition: 0.5s;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        background-color: var(--main-color);
        left: 0;
        bottom: 0;
        transition: 0.5s;
      }
      .focus,
      &:hover,
      &:hover:after {
        width: 100%;
        color: var(--main-color);
      }
    }
  }

  &__log-btn {
    color: white;
    font-weight: 400;
    margin-right: 20px;
  }

  &__btn {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
