.services {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgr-color);

  &__cards {
    display: flex;
    justify-content: center;
    gap: 2px;
    color: black;
    margin-bottom: 140px;

    &-card {
      padding: 20px;
      text-align: center;
      flex-basis: 20%;
      background-color: white;

      &--active {
        transform: scale(1.2, 1.2);
      }

      &-title {
        color: var(--main-color);
        margin-bottom: 20px;
        font-weight: 800;
        text-transform: capitalize;
      }

      & p {
        color: #777;
        line-height: 1.6;
        font-size: 12px;
      }

      &-image {
        max-width: 80px;
        height: 80px;
        margin-left: auto;
        margin-right: auto;

        & img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          
          
        }
      }
    }
  }

  &__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;


    &-serve {
    overflow: hidden;
    text-align: center;
    position: relative;

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        row-gap: 5%;
      }

      @media (min-width: 768px) {
        flex-basis: 45%;
        display: flex;
        flex-direction: column;
      }

      @media (min-width: 992px) {
        flex-basis: 20%;
      }


      &:hover &-title {
        top: 0;
        right: 0;
        left: 0;
        background-color: rgba(163, 121, 6, 0.5);
        bottom: 0;
        width: 200px;
        height: 200px;
        border-radius: 50%;

      }


      & img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-left: auto;
        margin-right: auto;
        transition: .5s;

        &:hover {
        transform: rotate(90deg);

        }
      }

      &-title {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        padding: 40px 0;
        transition: 0.5s;
        color: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: -100%;
        &:hover {
          top: 30px;
        }

      }

      &-meal {
        color: var(--main-color);
        margin-top: 30px;
        font-weight: 600;
        display: inline-block;
        text-align: center;
      }
    }
  }
}
