.services {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bgr-color);
  overflow: hidden;

  &__boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 2%;
    color: red;
    &-serve {
      @media (min-width: 768px) {
        flex-basis: 45%;
      }
      @media (min-width: 992px) {
        flex-basis: 20%;
      }
      text-align: center;
      position: relative;

      &:hover &-title {
        top: 0;
        left: 50%;
        @media (min-width: 768px) {
            left: 0;
          }
        transform: translateX(-50%);
        background-color: rgba(163, 121, 6, 0.5);
        bottom: 20px;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      & img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }

      &-title {
        position: absolute;
        bottom: -100%;
        left: 0;
        padding: 40px 0;
        transition: 0.5s;
        color: #ccc;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          top: 30px;
        }
      }
      &-meal {
        color: var(--main-color);
        margin-top: 30px;
        font-weight: 600;
        display: inline-block;
      }
    }
  }
}
